* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: ;
  font-weight: ;
  font-size: ;
  line-height: ;
  color: ; */
  padding: 25 px;
}

.header {
  height: 95vh;
  /* background-image: linear-gradient(to right bottom, rgba(63, 122, 77, 0.8), rgba(208, 240, 192, .8)  ), url(../images/herefordcover.jpg); */
  background-image: linear-gradient(to right bottom, rgba(45, 23, 14, 0.8), rgba(169, 126, 109, 0.8)   ), url(../images/herefordcover.jpg);
  background-size: cover;
  background-position: top;
  position: relative;

  clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
}

.text-box {
  position: absolute;
  top: 10%;
  left: 20%;
  transform: translate(-25%, -25%);
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;

  backface-visibility: hidden;
}

.heading-primary-main {
  display: block;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 10px;
  animation: moveInLeft 2s ease-out;
}

.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 5px;
  padding-left: 30px;

  animation: moveInRight 2s ease-out;
}

h1 {
  font-family: "Cinzel Decorative";
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

